<div class="container">
  <h1>
    {{title}}
  </h1>

  <nav class="navbar">
    <div class="container">
      <ul class="navbar-list">  
        <li class="navbar-item">
          <a class="navbar-link" routerLink="/home" routerLinkActive="active-link">Home</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" routerLink="/catalog" routerLinkActive="active-link">Catalog</a>
        </li>
        <li class="navbar-item" >
          <a class="navbar-link" routerLink="/customer-details" routerLinkActive="active-link">Customer</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>